.navbar {
  background-color: #f2e1d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar img {
  width: 130px;
  padding: 10px;
  margin-right: 20px;
}
.navAccount a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  margin-left: 20px;
}
.navAccount a:hover {
  color: #fd8f5f;
}
